<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cars.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="/img/car1.jpg" alt="car">
            </div>
            <div class="col-6">
                <img src="/img/car2.jpg" alt="car">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="/img/car3.jpg" alt="car">
            </div>
            <div class="col-6">
                <img src="/img/car4.jpg" alt="car">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="/img/car5.jpg" alt="car">
            </div>
            <div class="col-6">
                <img src="/img/car6.jpg" alt="car">
            </div>
        </div>
    </div>
</body>

</html>